/* Write your code here. */
* {
  box-sizing: border-box;
}
body {
  margin: 0px;
}
.bg-cont {
  background-color: #f1f5f8;
  background-size: cover;
  padding: 40px;
  width: 1000px;
}
.content-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  background-size: cover;
  border-radius: 8px;
  padding: 40px;
}
.main-head {
  color: #cb8805;
  font-family: 'Roboto';
  font-size: 32px;
  font-weight: bold;
}
.list-cont {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
